@import "singleComic";
.comics {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

  }
  &__banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: $dark;
    color: #ffffff;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 60px;
  }

  &__banner-text{
    font-weight: 700;
    max-width: 300px;
    line-height: 30px;
    text-align: center;
  }
  &__image-wrapper{
    position: relative;
    height: 400px;
  }
  &__image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__name{
    font-weight: 700;
  }
  &__price{
    margin-top: 10px;
    font-style: italic;
    font-size: 16px;
  }
  &__fill-image{
    object-fit: fill;
  }
}