$main-color: #9F0013;
$dark: #232222;
$grey: #5C5C5C;
@import "settings/nullstyle";
@import "header/header";
@import "main/main";
@import "main/character";
@import "comics";
* {
  font-size: 24px;
  font-family: 'Segoe UI', serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  @media (max-width: 1105px) {
    max-width: 90%;
  }
}

#app {
  padding: 50px 0 25px 0;
  width: 100%;

}

a {
  color: black;
  display: inline-block;
}

nav .active {
  color: #9f0013;
}

button:disabled {
  filter: grayscale(.3);

}